.blue-line {
  width: 50px;
  height: 4px;
  background: linear-gradient(to right, #7B202A 0%, #F1A74E 100%);
  margin-bottom: 15px;
}

.welcome-section .heading {
  border-left: 5px solid #F37F1B;
}

.info-heading1 {
  color: #000;
  font-size: 35px;
  font-weight: 400;
  font-family: "Roboto";
  margin-bottom: 15px;
  padding-left: 15px;
}

.info-heading2 {
  color: #F37F1A;
  font-size: 30px;
  font-family: "Roboto";
}

.description {
  font-size: 16px;
  font-family: "Roboto";
  line-height: 1.7;
  color: #242930;
  word-spacing: 0.1rem;

}

.see-more-btn {
  color: #3D70D0 !important;
  font-size: 17px !important;
  font-weight: 700 !important;
  font-family: "Roboto" !important;
  text-decoration: none !important;
  margin-top: 50px !important;
}

.playicon {
  width: 60px;
  height: 60px;
}

@media (max-width: 498px) {
  .info-heading2 {
    font-size: 25px;
  }

  .info-card1 {
    margin-bottom: 20px;
  }
}




/* Add Padding Between Columns for Consistency */
.col-md-3 {
  padding: 10px;
}

/* h5 {
  font-size: 1.2rem;
  color: #333;
  font-weight: 600;
} */

.text-muted {
  font-size: 0.9rem;
  color: #666;
}


/* .welcome-section{
  padding-left: 30px !important;
  padding-right: 40px !important;
} */


.highlight {
  color: #4a90e2;
}


.read-more:hover {
  text-decoration: underline;
}


/* Selected Button Styling */



.profile-div {
  padding-right: 50px !important;
}

/* Profile Card Container */
.profile-card {
  background-color: #ffffff;
  /* border-radius: 10px; */
  /* padding: 5px; */
  text-align: center;
  border-right: 2px solid #e6e6e6;
}

/* Profile Image Styling */
.profile-image {
  width: 150px;
  height: 180px;
  border-radius: 20px;
  border-left: 5px solid #F37F1A;
  border-bottom: 5px solid #F37F1A;
  object-fit: cover;
  box-shadow: 5px -5px 10px rgba(83, 83, 83, 0.1);
}


/* Name Styling */
.custom-name {
  font-size: 1.3rem;
  font-weight: bold;
  color: #F37F1A;
  margin-top: 15px;
  font-family: Roboto;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  /* Adds a blackish shadow */
}


/* Title Styling */
.custom-title {
  font-size: 1rem;
  font-weight: 700;
  color: black;
  font-family: Roboto;
  margin: -3px 0px 1px 0px;
}

/* Organization Styling */
.organization {
  font-size: 0.9rem;
  color: #212121;
  margin-top: 5px;
  font-family: Roboto;

}

/* @media (max-width: 786px) {
  .profile-image {
    width: 138px;
  height: 178px;
   
  }
}  */


#info-section {
  margin-top: -20px;
}

#info-section .custom-btn {
  display: flex;
  align-items: center;
  padding: 0px;
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  cursor: pointer;
  width: 100%;
  transition: box-shadow 0.3s ease-in-out;
}

#info-section .button-icon-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 40px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

#info-section .btn-icon {
  width: 18px;
  height: 18px;
  object-fit: contain;
}

#info-section .vertical-line {
  width: 2px;
  height: 100%;
  background-color: #e0e0e0;
  margin: 0 10px;
}

#info-section .button-label {
  font-size: 15px;
  font-weight: 500;
}


#info-section .custom-btn:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}


#info-section .custom-btn.active {
  background-color: #FFFAF0;
  border-color: #cccdce;
}


@media (max-width: 768px) {
  .profile-image {
    width: 139px;
    height: 178px;

  }

  .profile-div {
    padding-right: 30px !important;
  }
}

@media (max-width: 992px) {
  .welcome-section {
    margin-top: 20px;
  }

  #info-section {
    margin-top: 30px;
  }


}


@media (min-width:992px) and (max-width: 1200px) {
  #info-section .button-label {
    font-size: 0.8rem;
    font-weight: 500;
    display: flex;
    text-align: left;
  }
}

@media (max-width: 1470px) {
  .info-heading1 {

    font-size: 27px;

  }

  .info-heading2{
    font-size: 25px;
  }
  .description{
    text-align: justify;
  }
}