.font-location {
  font-family: "Roboto";
}

.breadcrumb {
  background-color: #FFF7E2 !important;
  padding: 10px 10px !important;
  border-radius: 5px !important;
  border: 1px solid #cbcbb5 !important;
}

.breadcrumb-item {
  color: #5b5b5b !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  line-height: 16.41px !important;
}

.active {
  color: #f37f1a !important;
}

.location-title {
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
}

.location-title .highlight {
  color: #333333;
  font-weight: 700;
  border-left: 5px solid #F37F1B;
  padding-left: 8px;
}

.highlighted-text{
    font-weight: 300;
}

.list-group-item {
  background-color: #FFF7E2 !important;
  font-weight: 500 !important;
  border-radius: 0 !important;
  color: #000000 !important;
  font-size: 20px !important;
  letter-spacing: -2% !important;
}

.circle {
    width: 7px !important;
    height: 7px !important;
    border-radius: 50% !important; /* Makes it a circle */
    background-color: #545454 !important; /* Black color for the circle */
    margin-right: 8px !important; /* Space between the circle and text */
  }

.list-group-item:hover {
  background-color: #fef2d3 !important;
  cursor: pointer;
}

.border {
  border: 4px solid black !important;
}
