#rts-css p {
    text-align: justify;
    line-height: 1.8;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    color:#666565;
    word-spacing: 0.1rem;
    font-family: 'Roboto';
    margin-bottom: 25px;
  }

  #rts-css .table-bordered td,
.table-bordered th {
  vertical-align: middle;
}

#rts-css .bg-orange {
  background-color: #f57c00 !important;
}
#rts-css .table-heading-styling{
  background: #F37F1A !important; 
  color: #FFFFFF !important;
  font-size: 15px !important;
  font-weight: 500 !important;
  line-height: 16.41px !important;
  padding: 10px 10px !important;
}

#rts-css .table-bordered tbody tr:nth-child(even) td {
  background-color: #FFF7E2;
}

#rts-css td {
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 17.41px !important;
}