.accordion-button {
    font-weight: bold;
  }
  
  .accordion-button:not(.collapsed) {
    color: #fff;
    background-color: #48AAF0;
  }
  
  .accordion-body span {
    margin-right: 10px;
    font-size: 14px;
    box-shadow: none;
    outline: none;
  }
  
  .card4 {
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .card-head {
    font-weight: 500;
    color: #0855A1;
    font-size: 25px;
  }

  
  
  .card-body ul li {
    margin-bottom: 10px;
    font-size: 14px;
  }
  