/* General Styling */
.navbar-container {
    font-family: "Roboto";
}

/* Top Bar Styling */
.top-bar {
    background-color: #FFF7E2;
    padding: 0.31rem 3rem;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.helpline-icon {
    width: 15px;
    height: 15px;
    object-fit: contain;
}

.helpline {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #333;
    font-weight: 500;
    font-family: "Roboto";
}

.rts-act-button {
    font-family: 'roboto';
    background-color: #F37F1A; 
    color: white; 
    border: none; 
    padding: 3px 10px; 
    border-radius: 4px;
    font-size: 13px; 
    font-weight: 500;
    margin-right: 10px;
    cursor: pointer; 
    transition: background-color 0.3s ease;
    animation: pulse 2s infinite; 
}

.rts-act-button:hover{
    background-color: #cc5200; 
}

@keyframes pulse {
    0%, 100% {
        transform: scale(0.8); 
        opacity: 1; 
    }
    50% {
        transform: scale(1); 
        opacity: 1;
    }
}

.accessibility {
    display: flex;
    gap: 8px;
    align-items: center;
    flex-wrap: wrap;
    font-size: 14px;
}



.divider {
    color: #ccc;
}

.nav-divider {
    display: inline-block;
    width: 1px;
    height: 1.5em;
    background-color: #F0E9DB;
    opacity: 0.5;
    vertical-align: middle;
}




.text-size {
    cursor: pointer;
}

.custom-dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.selected-language {
    display: flex;
    align-items: center;
    padding: 8px;

}


.dropdown-options {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 9999;
    font-size: 13px !important;
    display: none;
}

.custom-dropdown:hover .dropdown-options {
    display: block;
}

.dropdown-option {
    display: flex;
    align-items: center;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
}

.dropdown-option:hover {
    background-color: #f0f0f0;
}


/* Banner Section Styling */
.banner {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    height: 114px;
    margin-bottom: -25px;
    padding: 0.31rem 3rem;
}

.logo {
    display: flex;
    gap: 12px;
    margin-top: 10px;
}

.logo-img {
    width: 65px;
    height: 65px;

}

.brand-name {
    font-size: 35px;
    color: #068CE1;
    font-weight: 500;
    margin-top: 10px;
    font-family: 'Rowdies';
    margin: 0px;
    text-decoration: none !important;
}
a .brand-name, 
a .brand-name:link, 
a .brand-name:visited, 
a .brand-name:hover, 
a .brand-name:active {
    text-decoration: none !important; /* Ensure no underline in all states */
}

a {
    text-decoration: none !important; /* Remove underline from all links */
}



.brand-subtitle {
    font-family: 'Ramabhadra';
    font-size: 16px;
    color: #D2263E;
    font-weight: 500;
    margin-top: -5px;
}

.banner-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.banner-img1 {
    width: 299px;
    height: 114px;
    object-fit: cover;

}

.banner-img2 {
    width: 70px;
    height: 46px;
}

.banner-img3 {
    width: 48px;
    height: 46px;
    object-fit: cover;
}

.banner-img4 {
    width: 58px;
    height: 48px;
    object-fit: cover;

}

/* Navigation Menu Styling */
.header-container {
    width: 100%;
    top: 0;
}


.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F37F1A;
    position: relative;
    width: 100%;
    padding-left: 20px;

}


.custom-nav {
    display: none;
    position: absolute;
    width: 100%;
    transition: transform 0.3s ease-in-out;
}



.social-icons {
    /* padding: 0.31rem 3rem; */
    display: flex;
    gap: 7px !important;
}

.social-link {
    display: inline-block;
}

.youtube-icon {
    width: 17px;
    height: 14px;
    transition: transform 0.3s ease;
}

.youtube-icon:hover {
    transform: scale(1.2);
}

.twitter-icon {
    width: 15px;
    height: 14px;
    transition: transform 0.3s ease;
}

.twitter-icon:hover {
    transform: scale(1.2);
}

.facebook-icon {
    width: 9px;
    height: 14px;
    transition: transform 0.3s ease;
}

.facebook-icon:hover {
    transform: scale(1.2);
}

.insta-icon {
    width: 17px;
    height: 14px;
    transition: transform 0.3s ease;
}

.insta-icon:hover {
    transform: scale(1.2);
}

/* navbar-Dropdown-css */
.nav-link .dropdown-icon {
    margin-left: 0px;
    font-size: 12px;
    color: white;
}

.nav-link:hover .dropdown-icon {
    color: #fff;
}

.dropdown-menu {
    background-color: #F37F1A !important;
    border: none !important;
    border-radius: 4px !important;
    padding: 0 !important;
    margin-top: 1px !important;
    display: none;
    opacity: 0;
    font-size: 16px !important;
    font-weight: 500 !important;
    transition: opacity 0.3s ease;
    font-family: 'Roboto' !important;
}

.dropdown-menu::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 20%;
    transform: translateX(-40%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #F37F1A transparent;
}


.nav-item.dropdown:hover .dropdown-menu {
    display: block !important;
    opacity: 1;
}

.dropdown-item {
    color: white !important;
    padding: 10px 15px !important;
    text-decoration: none !important;
}

.dropdown-item::before {
    /* content: '➤'; */
    color: white;
}

.dropdown-item:hover {
    background-color: #FFF7E2 !important;
    color: #000 !important;
}


/* Media Query Start */
@media (min-width: 1153px) {
    .toggle-btn {
        display: none;
    }

    .custom-nav {
        display: flex !important;
        position: static;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        padding: 0;
    }

    .nav-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
        color: #FFFFFF;
        flex-wrap: wrap !important;

    }

    .nav-item {
        margin: 0;

    }

    .nav-link {
        /* display: block; */
        padding: 13px 14px !important;
        font-size: 16px !important;
        font-family: 'Roboto';
        font-weight: 500 !important;
        color: #FFFFFF !important;
        text-decoration: none;
        transition: background-color 0.3s ease-in-out;
    }

    .nav-menu .nav-link {
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .nav-menu .nav-link:hover,
    .nav-menu .nav-link.active {
        background-color: #FFF7E2;
        color: #000 !important;
    }

    .nav-menu .nav-link:hover {
        background-color: #FFF7E2;
        color: #000;

    }

}

@media (max-width: 1153px) {

    .rts-act-button {
        padding: 2px 8px;
        /* Add padding for better size */
        font-size: 12px;
        /* Font size */
    }

    .accessibility {
        gap: 5px;
        font-size: 13px !important;
    }

    .custom-nav {
        display: none;
        flex-direction: column;
        background-color: transparent;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        z-index: 1000;
        padding: 10px 0;
        list-style: none;


    }

    .nav-divider {
        display: none;
    }

    .nav-list {
        list-style: none;
        padding: 0;
        margin: 0;
        background-color: #F37F1A;
        /* Attractive background */
        border-radius: 8px;
        overflow: hidden;
        max-width: 300px;
    }

    .nav-list li {
        text-transform: uppercase;
        letter-spacing: 0.5px;
        position: relative;
        padding: 5px 20px 5px 15px;
        font-size: 14px;
        font-weight: bold;
        color: #ffffff;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        font-family: 'Roboto';
    }

    .nav-list li:last-child {
        border-bottom: none;
    }

    .nav-list li::before {
        position: absolute;
        left: 10px;
        /* Adjust positioning */
        top: 50%;
        transform: translateY(-50%);
        font-size: 13px;
        color: rgba(255, 255, 255, 0.7);
        /* Subtle arrow color */
        transition: transform 0.3s ease, color 0.3s ease;
    }

    /* .nav-list li:hover {
        background-color: #ffffff; 
    }
    
    .nav-list li:active {
        color: #8a2f2f; 
    } */



    .nav-item {
        margin: 0;
    }

    .nav-link {
        display: block;
        padding: 10px 10px !important;
        font-size: 16px !important;
        font-weight: 500 !important;
        color: #fff !important;
        text-decoration: none;
        transition: background-color 0.3s ease-in-out;
        font-family: 'Roboto';

    }

    /* .nav-menu .nav-link:hover,
    .nav-menu .nav-link.active {
        background-color: #0f3a65;
        color: #fff;
    } */

    .nav-link:hover {
        color: rgba(255, 255, 255, 0.7) !important;
        transform: scale(0.95);
        /* Adjust the scale value as needed */
        transition: transform 0.3s ease;
        /* Smooth transition */
    }

    .banner-img3 {
        display: none;
    }


    .nav-visible {
        margin-top: -5px;
        display: flex;
        animation: slideInLeft 0.5s ease-in-out;
    }

    @keyframes slideInLeft {
        from {
            transform: translateX(-100%);
        }

        to {
            transform: translateX(0);
        }
    }

    .nav-hidden {
        animation: slideOutLeft 0.3s ease-in-out;
    }

    @keyframes slideOutLeft {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(-100%);
        }
    }



    .toggle-btn {
        display: block;
        background: none;
        padding: 8px 20px !important;
        border: none;
        color: white;
        font-size: 25px;
        cursor: pointer;
        margin-left: 20px;
    }
}

/* HEADER TOP CSS FOR BELOW 768px  */
@media (max-width: 768px) {
    .helpline {
        font-size: 11px !important;
        gap: 5px;

    }

    .top-bar {
        padding: 0.31rem 1rem;
    }

    .rts-act-button {
        padding: 2px 8px;
        font-size: 10px;
    }

    .accessibility {
        gap: 5px;
        font-size: 11px !important;
    }

    .flag-icon {
        width: 15px !important;
        height: 14px !important;
    }

    .banner {
        padding: 0.31rem 1rem;
        height: 100px;
    }

    .logo {
        margin-top: 5px;
    }

    .logo-img {
        width: 50px;
        height: 50px;
    }

    .brand-name {
        margin-top: 5px;
        font-size: 20px;
    }

    .brand-subtitle {
        font-size: 14px;
        margin-top: -3px;
    }

    .banner-img1 {
        margin-top: 0px;
    }

    .banner-img2 {
        display: none;
    }

    .banner-img3 {
        display: none;
    }

    .banner-img4 {
        display: none;
    }

    .toggle-btn {
        font-size: 24px;
        margin-left: -10px;
    }

    .social-icons {
        display: flex;
        gap: 20px;
    }
}

/* HEADER TOP CSS FOR BELOW 768px  */
@media (max-width: 576px) {
    .helpline {
        display: none;
    }

    .rts-act-button {
        padding: 2px 8px;
        font-size: 10px;
    }

    .accessibility {
        margin: 0 auto;
        gap: 8px;
        font-size: 11px !important;
        justify-content: center;
        text-align: center;
    }

    .top-bar {
        justify-content: center;
        padding: 0.31rem 1rem;

    }

    .flag-icon {
        width: 15px !important;
        height: 15px !important;
    }

    .banner {
        padding: 0.31rem 1rem;
        height: 100px;
    }

    .logo {
        margin-top: 5px;
    }

    .logo-img {
        width: 50px;
        height: 50px;
    }

    .brand-name {
        margin-top: 5px;
        font-size: 11px;
    }

    .brand-subtitle {
        font-size: 14px;
        margin-top: -3px;
    }

    .banner-img1 {
        display: none;
    }

    .banner-img2 {
        margin-top: -20px;
        display: block;
    }

    .banner-img3 {
        margin-top: -20px;
        display: block;
    }

    .banner-img4 {
        margin-top: -20px;
        display: block;
    }

    .toggle-btn {
        font-size: 24px;
        margin-left: -15px;
    }

    .social-icons {
        /* padding: 0.31rem 2rem; */
        display: flex;
        gap: 15px;
    }
}

@media (max-width: 448px) {

    .top-bar {
        padding: 0.31rem 0.3rem;
    }

    .rts-act-button {
        padding: 2px 8px;
        font-size: 9px;
    }

    .accessibility {
        gap: 3px;
        font-size: 10px !important;
        justify-content: center !important;
    }

    .selected-language {
        display: flex;
        align-items: center;
        padding: 2px;
    }

    .flag-icon {
        width: 10px !important;
        height: 10px !important;
        margin-right: 5px !important;
    }

    .banner {
        padding: 0.31rem 0.5rem;
        height: 90px;
    }

    .logo {
        margin-top: 0px;
    }

    .logo-img {
        width: 45px;
        height: 45px;
    }



    .brand-subtitle {
        font-size: 12px;
        margin-top: -3px;
    }

    .banner-img2 {
        width: 60px;
        height: 38px;
        margin-top: -20px;
        display: block;
    }

    .banner-img3 {
        display: none;
    }

    .banner-img4 {
        display: none;
    }

    .toggle-btn {
        font-size: 24px;
        margin-left: -15px;
    }

    .social-icons {
        display: flex;
        gap: 15px;
    }


}


.language-box {
    position: relative;
    width: 200px;
}

.select-box {
    position: relative;
    display: flex;
    align-items: center;
}

.selectmenu {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flag-icon {
    width: 17px;
    height: 15px;
    margin-right: 10px;
}

.options-container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: none;
    z-index: 1;
}

.options-container.active {
    display: block;
}

.option {
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.option:hover {
    background-color: #f0f0f0;
}

.option img {
    margin-right: 10px;
}

@media (min-width: 992px) {
    .top-bar-social-media {
        padding: 0rem 0rem !important;
        display: flex;
        gap: 15px;
    }
}

@media (max-width: 1448px) {
    .brand-name {
        font-size: 29px;
    }
}

@media (max-width: 1311px) {
    .brand-name {
        font-size: 28px;
        margin-top: -10px;
    }
}

@media (max-width: 1011px) {
    .brand-name {
        font-size: 25px;
        margin-top: -10px;
    }
}

@media (max-width: 970px) {
    .brand-name {
        font-size: 20px;
        margin-top: 0px;
    }
}

@media (max-width: 906px) {
    .brand-name {
        font-size: 18px;
        margin-top: 0px;
    }
}

@media (max-width: 652px) {
    .brand-name {
        font-size: 15px !important;
    }
}

@media (max-width: 612px) {
    .brand-name {
        font-size: 14px !important;
    }
}

@media (max-width: 596px) {
    .brand-name {
        font-size: 13px !important;
    }
}

@media (max-width: 550px) {
    .brand-name {
        font-size: 13px !important;
    }
}

@media (max-width: 448px) {
    .brand-name {
        font-size: 15px !important;
    }
}

@media (max-width: 334px) {
    .brand-name {
        font-size: 13px !important;
    }
}