.media-plugin {
  text-align: center;
}

.title-inner h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

iframe {
  border-radius: 8px;
}

.card-header {
  font-size: 1.2rem;
  padding: 10px;
}

.you {
  background-color: #cc0808;
  font-family: "Poppins", serif;
  font-size: 22px;
}

.fb {
  background-color: #306ca9;
  font-family: "Poppins", serif;
  font-size: 22px;
}

.tw {
  background-color: #1a8cd8;
  font-family: "Poppins", serif;
  font-size: 22px;
}

@media (max-width: 576px) {
  iframe {
    height: 300px;
  }

  .card-header {
    font-size: 1rem;
    padding: 8px;
  }
}
