.breadcrumb {
  background-color: #fff7e2 !important;
  padding: 13px 10px !important;
  border-radius: 5px !important;
  border: 1px solid #cbcbb5 !important;
}

.breadcrumb-item {
  color: #5b5b5b !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 16.41px !important;
}

.active1 {
  color: #f37f1a !important;
}

.new-location-title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: -5px;
}

.new-location-title .new-highlight {
  color: #333333;
  font-weight: 600;
  color: #f37f1a;

}

.new-highlighted-text {
  font-weight: 600;
}


#rec-css .table-bordered td,
.table-bordered th {
  vertical-align: middle;
}

#rec-css .bg-orange {
  background-color: #f57c00 !important;
}
#rec-css .table-heading-styling{
  background: #F37F1A !important; 
  color: #FFFFFF !important;
  font-size: 15px !important;
  font-weight: 500 !important;
  line-height: 16.41px !important;
  padding: 10px 10px !important;
}

#rec-css .table-bordered tbody tr:nth-child(even) td {
  background-color: #FFF7E2;
}

#rec-css td {
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 17.41px !important;
}